* {
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

.row1{
    width: 100%;
}

.container {
    position: relative;
    border: 1px solid #000000;
    background-color: #adadad;
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

.chicken {
    background-color: #fad00a;
}

.beef {
    background-color: #dd103a;
}


.sushi {
    background-color: #ffa0a0;
}
.main {
    position: absolute;
    top: -1px;
    right: -1px;
    border: 1px solid #000000;
    margin: 0px;
    font-size: 1.25em;
    padding: 10px;
}

.text {
    position: relative;
    top: 20px;
    padding: 15px;
}

/********** large devices  **********/
@media (min-width: 992px) {
.col-lg-4}
.col-lg-4{
  width: 33.33%;
  float:left;
}


/********** medium devices  **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4,
  .col-md-6,.col-md-12 {
    float: left;    
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
}
  
  }

  /********** Small devices **********/
@media (max-width: 767px){
  .col-sm-12 {
    float:left;
    width: 100%;
  }
}



