* {
  box-sizing: border-box;

}

body{
  margin: 0;
  padding: 0px 5px 0px 5px;
}

/**************************/

#row{
  width: 100%; 
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}


h1{
  font-family: Arial,sans-serif;
  color: black;
  text-align: center;
}


section{
  background-color: #999999;
  border: 2px solid black;
  padding: 0px 5px 0px 5px;
}

section > h3{
  background-color: #D59898;
  float: right;
  padding: 10px;
  clear: both;
  color: Black;
  font-family: Arial,sans-serif;
  border: 3px solid black;
margin-top: -2px;
}

p{
  font-family: Arial,sans-serif;
  clear: right;
}

/********** large devices  **********/
@media (min-width: 992px) {

.col-lg-4{
  width: 33.33%;
  float:left;
}

}


/********** medium devices  **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4,
  .col-md-6 {
    float: left;    
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  
  }

  /********** Small devices **********/
@media (max-width: 767px){
  .col-sm-12 {
    float:left;
    width: 100%;
  }
}

